pyautogui
common
paddleocr==2.10.0
paddlepaddle==2.6.2
requests
numpy
pillow
schedule
chardet
setuptools
loguru
# easyocr
# pytesseract
pyserial
xmodem
pygetwindow
pygame
pycryptodome
keyboard
pystray
