pyautogui
common
paddleocr==3.7.0
paddlepaddle==3.3.1
numpy>=1.24,<2.4
requests
pillow
schedule
chardet
setuptools
loguru
# easyocr
# pytesseract
pyserial
xmodem
pygetwindow
pygame
pycryptodome
keyboard
pystray
